---
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine
AlignAfterOpenBracket: BlockIndent
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
AlignConsecutiveDeclarations: true
  
