[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "PicoSHA2"]
	path = PicoSHA2
	url = git@github.com:okdshin/PicoSHA2.git
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:google/benchmark.git
